#containerNotes{
    width: 700px;
    height: 650px;
    justify-content: center;
    align-items: center;
}



#addNote, #LogOut{
 background-color:black;
}   

#addNoteText{
    color: white;
    font-size: 3rem;
    margin-top: auto;
    display: flex;
    align-items: center;
  justify-content: center;
  width: 800px;

}

.addNoteImg{
    width: 70px;
    height: 70px;
}


.card-body{
    align-content: space-around;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: #FEFFDE;
    margin: 10px;
  
  }

  .containerAlllNotes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.LogOutImg{
    width: 70px;
    height: 70px;
}

#LogOut {
    display: flex;
   justify-content: flex-end;
    
}